body {
    width: 320px;
    padding: 15px;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    box-sizing: border-box;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 11px;

    background: #24292f;
    color: white;

    border: none;
    border-radius: 5px;

    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background: #000;
}

#status {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    word-wrap: break-word;
}